<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>DefaultValue</key>
			<string>YES</string>
			<key>Key</key>
			<string>toggleSwitch</string>
			<key>Title</key>
			<string>IS_ALLOW_PUSH</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>PUSH_TIME_DESC</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>mulValue</string>
			<key>Title</key>
			<string>PUSH_TIME_VAL</string>
			<key>Titles</key>
			<array>
				<string>MUL_VAL_1</string>
				<string>MUL_VAL_2</string>
				<string>MUL_VAL_3</string>
				<string>MUL_VAL_4</string>
				<string>MUL_VAL_5</string>
				<string>MUL_VAL_6</string>
				<string>MUL_VAL_7</string>
				<string>MUL_VAL_8</string>
				<string>MUL_VAL_9</string>
				<string>MUL_VAL_10</string>
				<string>MUL_VAL_11</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
				<string>6</string>
				<string>7</string>
				<string>8</string>
				<string>9</string>
				<string>10</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>Complete</string>
			<key>Title</key>
			<string>主题切换</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>FooterText</key>
			<string>客服电话：10010</string>
			<key>Title</key>
			<string>投诉/建议</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>inappsettingskit.com</string>
			<key>File</key>
			<string>http://www.10010.com/</string>
			<key>Title</key>
			<string>URL_CHINA_UNICOM</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string></string>
            
            
			<key>IASKMailComposeBccRecipents</key>
			<array/>
			<key>IASKMailComposeBody</key>
			<string>您好！</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeCcRecipents</key>
			<array/>
			<key>IASKMailComposeSubject</key>
			<string>使用建议</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
                 <string>lvyong@asiainfo-linkage.com</string>
            </array>
			<key>Title</key>
			<string>联系我们</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>IASKLogo</string>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>systemUpgrade</string>
			<key>Title</key>
			<string>SYSTEM_UPGRADE</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>clearCache</string>
			<key>Title</key>
			<string>CLEAR_CACHE</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>updateAreaCache</string>
			<key>Title</key>
			<string>UPDATE_AREA_CACHE</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
        <dict>
			<key>Title</key>
			<string>APPLICATION_INFO_TITLE</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>Key</key>
			<string>version</string>
			<key>Title</key>
			<string>VERSION</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>中国联通</string>
			<key>Key</key>
			<string>copyright</string>
			<key>Title</key>
			<string>Copyright</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
	<key>Title</key>
	<string>WhereTo</string>
</dict>
</plist>
